body{
    background-color: #D7B7EB;
    font-family: Arial, Helvetica, sans-serif;
}

#fucks-sake{
    display: flex;
}

#boxx{
    margin-left: 250px;
    margin-top: 25px;
    width: 100px;
    height: 50px;
   
}

#idk-yet-man a{
    padding: 25px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    background: #F2CBF6;

}

#boxx2{
    margin-left: 25px;
    margin-top: 25px;
}

#idk-yet-man2 a{
    padding: 25px;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    background: #F2CBF6;
    border-radius: 10px;
}

#boxx3{
    margin-left: 25px;
    margin-top: 25px;
}

#idk-yet-man3 a{
    padding: 25px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    background: #F2CBF6;
}

#idk-yet-man a:hover{
    background: #CEA7E6;
}

#idk-yet-man2 a:hover{
    background: #CEA7E6;
}

#idk-yet-man3 a:hover{
    background: #CEA7E6;
}

#profile{
    margin-left: 25px;
    margin-top: 25px;
}

#box{
    width: 100%;
    display:flex
}

#bg-box3{
    width: 680px;
    height: 75px;
    margin-left: 25px;
    margin-top: 25px;
    background: #F2CBF6;
    border-radius: 5px;
}

#bg-box4{
    width: 680px;
    height: 120px;
    background: #F2CBF6;
    color: #ffffff;
    margin-left: 25px;
    border-radius: 5px;
}

#textbox {
    color: #ffffff;
    margin-left: 200px;
    padding-top: 0px;
    display: flex;
}

#box2{
    width: 100%;
    display:flex
}

#bg-box2{
    background: #F2CBF6;
    width: 200px;
    height: 155px;
    margin-left: 25px;
    margin-top: 10px;
    border-radius: 5px;
}

#hobbies{
    color: #ffffff;
    margin-left: 25px;
}

#loz{
    margin-left: 25px;
    margin-top: 10px;
    border-radius: 5px;
}

#box3{
    width: 100%;
    display:flex
}

#meme{
    margin-left: 25px;
    margin-top: -70px;
}

#bg-box{
    margin-left: 25px;
    margin-top: 25px;
    background: #F2CBF6;
    width: 680px;
    height: 102px;
    border-radius: 5px;
}

#social{
    margin-left: 60px;
    margin-top: 10px;
}

#social1{
    margin-left: 20px;
    margin-top: 10px;
}

#damn-everything{
    width: 1284;
    margin: 0px auto 0px auto;
}
